<%= user_info @capts %>

<% @capts.each do | capt | %>

    <div class="box">
    <article class="media">
    <div class="media-left">
    <figure class="image is-64x64">
    <%= gravatar_image_tag(capt.user.email, size: 64, alt: capt.user.name) %>
    </figure>
    </div>
    <div class="media-content">
    <div class="content">
    <strong><%= capt.user.name %></strong> <br />
    <small><%= capt.user.username %></small><br />
    <p><%= capt.capt %></p>
    </div>

    <%= user_signed_in %>
</div>
