<!DOCTYPE html>
<html>
  <head>
   
   <title>Members Only</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

  </head>

  <body>

<%= body_flash %>

<nav class="navbar is-info">
<div class="navbar-brand">
<%= link_to root_path, class: "navbar-item" do %>
  <h1 class="title is-5">Members Only</h1>
  <% end %>
  <div class="navbar-burger burger" data-target="navbarExample">
         <span></span>
         <span></span>
         <span></span>
  </div>
  </div>

  <div id="navbarExample" class="navbar-menu">
   <div class="navbar-end">
   <div class="navbar-item">
   <div class="field is-grouped">
   <p class="control">
   <%= link_to 'New Post', root_path, class: "button is-info is-inverted" %>
 </p>

<%= user_logged_in %>

<% end %>
   </div>
   </div>
   </div>
   </div>
</nav>

<%= yield %>
  </body>
</html>
